
body {
  background-color: #f5f4f4;
}

.container {
  margin-top: 5%;
}
.titulo {
  background-color: #f0f0f0; 
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; /
}

#trabajadorFormulario {
  background-color: #f5f4f4;
  border: 2px solid #616161;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
}

#listaTrabajadores {
  margin-top: 15px;
  background-color: #f5f4f4; 
  border: 2px solid #616161;
  border-radius: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#resumenDepartamentos {
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid #616161;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: start;
}


.navbar-dark {
  background-color: #343a40;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.btn-primary {
  background-color: #9393f7; 
  border-color: #9393f7; 
  border-radius: 50%; 
  width: 75x; /*Ancho del botón*/
  height: 75px; /*Altura del botón*/
  border: 2px solid #616161;
}

.btn-primary:hover {
  background-color: #656566;
  border-color: #656566;
  border: 5px solid #616161;
}
